<h2>New event hold</h2>
<br/>
<div><strong>Type:</strong> {{ data.category }}</div>
<div><strong>On:</strong> {{ data.datetime }}</div>
<div><strong>Contact:</strong> {{ data.contact }}</div>
<br/>
<div><strong>Size:</strong> {{ data.size }}</div>
<div><strong>Diners:</strong> {{ data.diners }}</div>
<div><strong>Cooks:</strong> {{ data.cooks }}</div>
<div><strong>Class Info:</strong> {{ data.class_info }}</div>
