<h2>Hello {{ user.name }}!</h2>

<p>Thanks for your Tinker Kitchen booking! This email is your ticket & confirmation.</p>

<p>You have {{ units }} ticket(s) for "{{ product.name }}"</p>

<p>Our address is: <a href="https://www.google.com/maps/?q=place_id:ChIJu3WgID9-j4ARp-tuXllo1y8&key=AIzaSyBY6GbaztLA3fPKcxuK1JTOlzvGkJJ-DzI">3233 22nd St, San Francisco CA 94110</a> (between Mission & Bartlett Streets)</p>

<p>Looking forward to cooking with you! :-)</p>

<p>—The Tinker Kitchen crew</p>
