<h2>Hello {{ user.name }}!</h2>

<p>Thanks for signing up at <a href="tinkerkitchen.org">tinkerkitchen.org</a>!</p>

<p><a href="https://tinkerkitchen.org/account/verify/{{ token }}">Click here to verify your email address</a></p>

<p>Looking forward to cooking with you! :-)</p>

<p>—The Tinker Kitchen crew</p>
