<h2>Hello {{ user.name }}!</h2>

<p>Here's your password reset link:</p>

<p><a href="https://tinkerkitchen.org/account/forgot/{{ token }}">https://tinkerkitchen.org/account/forgot/{{ token }}</a></p>

<p>If you're having trouble with our site, please contact Tinker
Kitchen staff! Email us at hello@tinkerkitchen.org</p>

<p>—The Tinker Kitchen crew</p>
